@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 85%;
    margin: auto;
}

.spacing {
    height: 100px;
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img/bannerSobreNos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    color: #FFFFFF;
    padding: 30px 0px 30px 40px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbarLinks {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

.navbarLinks button {
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 4px 15px 4px 15px;
    color: inherit;
    border-radius: 4px;
}

.headerMain {
    color: #FFFFFF;
    width: 46%;
    justify-self: flex-start;
}

.headerMain h1 {
    font-size: 80px;
}

.headerMain p {
    font-size: 20px;
}

.setaConteudo {
    align-self: center;
}

.setaConteudo img {
    width: 60px;
}

/* INTRODUCAO */

.introducao {
    display: flex;
    flex-direction: column;
}

.introducao span {
    color: #8F5D46;
    font-weight: bold;
}

.introducao .conteudo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.introducao .conteudo .texto {
    width: 51%;
}

.introducao h1 {
    font-size: 50px;
}

.introducao p {
    font-size: 21px;
}

.introducao img {
    width: 480px;
}

/* CARDS */

.container-cards h1{
    font-size: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;
}

.cards .card {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #dfdede;
    box-shadow: 0 4px 12px #00000066;
}

.cards .card img{
    width: 100%;
}

.cards .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cards .card .texto{
    padding: 20px;
    text-align: center;
}

.cards .card .texto span{
    color: #8F5D46;
    font-weight: bold;
}

/* VISÃO DE NEGÓCIO */

.container-visao {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-visao h1{
    font-size: 50px;
}

.container-visao img{
    width: inherit;
}

/* FOOTER */

.footer {
    background-color: #503324;
    color: #FFFFFF;
}

.footer .container {
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container h4{
    font-weight: 500;
}

.footer .container .lista{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .container span{
    font-size: 25px;
    font-weight: bold;
}

.footer .container .lista li{
    padding: 4px;
    font-weight: 200;
}

/* CONTATO */

.contato {
    background-color: #503324;
    color: #FFFFFF;
}

.contato .container {
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato .container .texto{
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contato .container .texto h1{
    font-size: 70px;
}

.contato .container .formulario{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 85%;
    justify-content: space-around;
}

.contato .container .formulario textarea{
    width: 100%;
    height: 30px;
    resize: none;
    padding-left: 5px;
    padding-top: 10px;
}

.contato .container .formulario textarea{
    width: 100%;
    height: 30px;
}

.contato .container .formulario .nome textarea{
    width: 47%;
}

.contato .container .formulario input::placeholder{
    vertical-align: top;
    line-height: 1;
}

.contato .container .formulario .mensagem{
    width: 100%;
    height: 120px;
}

.contato .container .formulario button{
    height: 40px;
    background-color: #8F5D46;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 5px 12px #00000066;
}

.contato .container .formulario .nome{
    display: flex;
    justify-content: space-between;
}
