@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 85%;
    margin: auto;
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img/bannerSobreNos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    color: #FFFFFF;
    padding: 30px 0px 30px 40px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbarLinks {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

.navbarLinks button {
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 4px 15px 4px 15px;
    color: inherit;
    border-radius: 4px;
}

.headerMain {
    color: #FFFFFF;
    width: 46%;
    justify-self: flex-start;
}

.headerMain h1 {
    font-size: 80px;
}

.headerMain p {
    font-size: 20px;
}

.setaConteudo {
    align-self: center;
}

.setaConteudo img {
    width: 60px;
}

/* INTRODUCAO */

.introducao {
    display: flex;
    flex-direction: column;
}

.introducao span {
    color: #8F5D46;
    font-weight: bold;
}

.introducao .conteudo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.introducao .conteudo .texto {
    width: 51%;
}

.introducao h1 {
    font-size: 50px;
}

.introducao p {
    font-size: 21px;
}

.introducao img {
    width: 480px;
}

/* CARDS */

.container-cards h1{
    font-size: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cards .card {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #dfdede;
    box-shadow: 0 4px 12px #00000066;
}

.cards .card img{
    width: 100%;
}

.cards .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cards .card .texto{
    padding: 20px;
    text-align: center;
}

.cards .card .texto span{
    color: #8F5D46;
    font-weight: bold;
}

/* VISÃO DE NEGÓCIOS */

