@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: DM Sans, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: DM Sans, sans-serif;
    background-color: #1a1717;
    color: #815a48;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    font-size: 18px;
    height: 100%;
    background-image: url('../assets/navBarDash.png');
    background-color: #5f422c;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar img{
    width: 26px;
}
/* DashAvisos */

.box_selecionado {
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40px;
    width: 150px;
    color: white;
    height: 9vh;
    background: #3c261d;
    transition: 0.3s ease-in-out;
}

.box {
    font-size: 0px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40px;
    width: 70px;
    height: 9vh;
    background-color: #20130f;
    transition: 0.3s ease-in-out;
    font-size: 0px;

}

.box:hover {
    width: 150px;
    font-size: 14px;
}

/* Dashboard */
.css_dashboardAviso .css_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 11%;
    margin-right: 2%;
}

.css_dashboardAviso .css_container .css_titulo{
    text-align: center;
}

.css_dashboardAviso .css_container .css_titulo img{
    padding-top: 25px;
    width: 10%;
}

.css_dashboardAviso .css_container .css_titulo h2{
    font-size: 30px;
}

.css_dashboardAviso .css_container .css_dashGerais{
    display: flex;
}

.css_dashboardAviso .css_container .css_dashGerais .css_kpiAlertas{
    width: 50%;
    padding-right: 10px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_kpiGrafico{
    width: 45%;
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
/* Card Fazendas Monitoradas*/
.css_dashboardAviso .css_container .css_dashGerais .css_fazendasMonitoradas{
    color: white;
    background: linear-gradient(to bottom, #3c261d, #0c0706);
    
    border-radius: 5px;
    width: 100%;
    display: flex;
    
}

.css_dashboardAviso .css_container .css_dashGerais .css_fazendasMonitoradas .css_etiqueta img{
    padding-left: 20px;
    padding-top: 20px;
    width: 40px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_fazendasMonitoradas .css_etiqueta{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css_dashboardAviso .css_container .css_dashGerais .css_fazendasMonitoradas .css_etiqueta h1{
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_fazendasMonitoradas .css_contador{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    width: 100%;
    line-height: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
/* Card Plantios em Risco*/

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco{
    margin-top: 10px;
    color: white;
    background: linear-gradient(to bottom, #3c261d, #0c0706);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_etiqueta img{
    width: 40px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_etiqueta{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_etiqueta h1{
    font-size: 20px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_etiqueta h2{
    font-size: 50px;
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_etiqueta h3{
    font-size: 15px;
    color: #977474;
}

.css_dashboardAviso .css_container .css_dashGerais .css_plantiosRisco .css_contador{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    width: 20%;
    line-height: 45px;
}

.css_alertas {
    display: flex;
    gap: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
/* Card Plantios em Risco*/

.css_kpiPlantios{
    color: white;
    background: linear-gradient(to bottom, #3c261d, #0c0706);
    border-radius: 5px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.css_kpiPlantios .css_etiqueta img{
    width: 60px;
    padding-left: 20px;
    padding-top: 20px;
}

.css_kpiPlantios .css_etiqueta{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.css_kpiPlantios .css_etiqueta h1{
    font-size: 35px;
    padding-left: 20px;
}

.css_kpiPlantios .css_etiqueta h2{
    font-size: 40px;
}

.css_kpiPlantios .css_contador{
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    width: 20%;
    padding-right: 40px;
    padding-top: 20px;
}

.css_kpiPlantio {
    display: flex;
    height: 100%;
}

.css_graficoPlantio {
    display: flex;
    width: 100%;
    height: 140px;
    margin-top: 22px;
    padding-bottom: 40px;
    justify-content: center;
}

#graficoPlantio{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin: 0;
}

/*  */
.logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2vh;
    font-size: 28px;
    font-weight: bold;
    color: #fffefd;
}

.nav {
    margin-top: 40px;

}

.nav div {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.content {
    margin-left: 9%;
    padding: 30px;
}

.section {
    margin-bottom: 40px;
    margin-left: 20px;
}

h2 {
    margin-bottom: 10px;
}

h1{
    font-size: 60px;
}

.alert {
    color: #e53935;
    font-weight: bold;
}

.card-container {
    display: flex;
    gap: 20px;
}

#kpiSection {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#kpiSection .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#kpiSection .card h1{
    font-size: 70px;
}

.card .titulo {
    width: 100%;
    align-self: top;
    height: 40px;
    background-color: #5f422c;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
}

.card h3 {
    text-align: right;
    color: #a3643f;
    font-size: 24px;
    margin-bottom: 10px;
}

.card h4 {
    text-align: right;
    color: #72594b;
    font-size: 12px;
    margin-bottom: 10px;
}

.calendar-chart {
    display: flex;
    gap: 40px;
    align-items: center;
}

.chart-box {
    width: 500px;
}

.calendar-box {
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
}

.profile-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
}

.logo img {
    width: 10vw;
    height: auto;
}

.selector-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.selector-bar select {
    padding: 6px;
    margin-left: 10px;
    font-size: 16px;
}

.summary-cards {

    display: flex;
    gap: 20px;
}

.summary-card {
    flex: 1;
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.summary-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.summary-card p {
    font-size: 24px;
    font-weight: bold;
    color: #a3643f;
}

a {
    text-decoration: none;
}
.section h2 {
    font-size: 60px;
}

.section p {
    font-size: 30px;
}

.cabecalho {
    width: 100%;
}

.cabecalho, .alerta {
    display: flex;
    justify-content: center;
}

.cabecalho div {
    background-color: #5f422c;
    color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta div {
    color: #ffffff;
    background-color: #3c261d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 0px;
    font-weight: 800px;
}

.situacao {
    width: 100%;
    border-radius: 5px;
}

.plantio {
    width: 100%;
    margin-left: 5px;
    border-radius: 5px;

}

.plantio p {
    font-size: 28px;

}

.horario, .umidade {
    width: 100%;
}

.umidade img {
    justify-self: flex-end;
}

.alertaGraficos {
    border-radius: 5px;
    width: 100%;
    background-color: #5f422c;
    height: fit-content;
    margin-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.alertaGraficos h3 {
    font-size: 30px;
    margin-bottom: 0px;
}

.alertaGraficos .mapa {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.alertaGraficos .mapa .linha {
    display: flex;
    width: 93%
}

.alertaGraficos .mapa div {
    width: 22%;
    height: 100px;
    text-align: center;
    border: #ffffff 3px solid;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.alertaGraficos .mapa div:hover{
    font-size: 40px;
    color: rgb(192, 240, 255);
}



.verde {
    background-color: #1fdf15;
}

.vermelho {
    background-color: #e92727;
}

.amarelo {
    background-color: #FFC219;
}

.verde, .vermelho, .amarelo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}

.alertaGraficos .conteudo {
    display: flex;
    flex-direction: row;
}

.alertaGraficos .conteudo .canvas {
    margin-left: 5%;
    width: 50%;
}

.titulos {
    display: flex;
    justify-content: space-around;
}

.titulos .titulo {
    display: flex;
    flex-direction: column;
}

.titulos .titulo p{
    font-size: 20px;
    color: #945b25;
}
.cadastrar{
    background: linear-gradient(to bottom, #3c261d, #0c0706);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    left: 40vw;
    top: 2vh;
    height: 100%;
    padding-bottom: 50px;

    width: 30vw;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    transition: 0.2s linear;
    color: #FFFFFF;
}
.cadastrar h1 {
    margin-top: 35px;
    font-size: 30px;
    color: white;
}

.cadastrar .box-cadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.cadastrar .box-cadastro span{
    margin-top: 40px;
    color: #72594b;
}
#campo-senha {
    margin-right: 100px;
}
#campo {
    margin-right: 235px;
}
.cadastrar input {
    background-color: #815a48;
    color: white;
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
    font-size: 15px;
    transition: 0.3s ease-out;
}
.cadastrar button{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: 0;
    background: linear-gradient(to right, #20130f, #3c261d);
    color: beige;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.cadastrar button:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, #000000, #000000);
    color: white;
    font-size: 22px;
}
.cadastrar input:hover{
    transform: translateY(-5px);
}
.cadastrar button:active {
    transform: translateY(5px);
}
#isAdmin {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
#isAdmin:hover {
    transform: translateY(-5px);
}

.titulo {
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
}

.titulo p {
    align-self: flex-end;
    color: white;
}

#campo {
    color: wheat;
}

.avisos {
    color: rgb(255, 255, 106);
    margin-top: 10px;
    text-align: center;
}

.umidade {
    width: 80%;
    font-size: 15px;
    text-align: center;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
/* Cards Avisos*/

#avisos {
    display: flex;
    background: linear-gradient(to bottom, #3c261d, #20130f);
    height: max-content;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
}

#alerta {
    margin: 5px;
    width: 100%;
    height: max-content;

    border-radius: 2px;
}

#alerta img {
    width: 30px;
    height: 30px;

    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

#alerta h2{
    background-color: #000000;
    font-size: 30px;
    font-weight: 450;
    color: white;

    margin-bottom: 15px;
}

.conteudoAlerta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regioes {
    display: flex;
    flex-direction: column;
}

.regioesTitulo {
    background-color: #000000;
    width: 900px;
}

.regioesTitulo h3 {
    margin-left: 380px;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

.instrucao {
    color: #977474;
    margin-top: 10px;
    margin-left: 15px;
}

.alertasPlantio {
    display: flex;
    flex-direction: column;
}

.alertasPlantio {
    display: flex;
    flex-direction: column;
}

.alertasTitulo {
    background-color: #000000;
    width: 700px;
}

.alertasTitulo h3 {
    margin-left: 230px;
    color: white;
    font-weight: 400;
    font-size: 30px;
}

#alertaRegiao {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    background-color: #110a08;

    width: 600px;
    height: 50px;
    border-radius: 10px;
}

#alertaRegiao h3 {
    margin-left: 25px;
    font-size: 25px;
}

#regiaoSelecionada {

    background-color: #000000;

    width: 100%;
    height: max-content;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

#regiaoSelecionada h2 {
    margin-left: 750px;
}

.conteudoRegiaoSelecionada {
    display: flex;
    flex-direction: row;
}

.kpiSelecionada {
    display: flex;
    flex-direction: column;
}

#quadradoRegiaoSelecionada {
    width: 400px;
    height: 250px;

    margin-left: 80px;
    border-radius: 10px;

    background-color: red;
}