@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: DM Sans, sans-serif;
    background-color: #fff;
    color: #815a48;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #5f422c;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fffefd;
}

.nav {
    margin-top: 40px;
}

.nav div {
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.content {
    margin-left: 240px;
    padding: 30px;
}

.section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.alert {
    color: #e53935;
    font-weight: bold;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
}

.card h3 {
    text-align: right;
    color: #a3643f;
    font-size: 24px;
    margin-bottom: 10px;
}

.card h4 {
    text-align: right;
    color: #72594b;
    font-size: 12px;
    margin-bottom: 10px;
}

.calendar-chart {
    display: flex;
    gap: 40px;
    align-items: center;
}

.chart-box {
    width: 500px;
}

.calendar-box {
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
}

.profile-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    height: auto;
}

.selector-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.selector-bar select {
    padding: 6px;
    margin-left: 10px;
    font-size: 16px;
}

.summary-cards {
    display: flex;
    gap: 20px;
}

.summary-card {
    flex: 1;
    border: 1px dashed #bbb;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.summary-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.summary-card p {
    font-size: 24px;
    font-weight: bold;
    color: #a3643f;
}

a {
    text-decoration: none;
}